# Problem Set 3 -- Lowest, highest, average water level (Q2)

Calculates the lowest, highest, and average water level observed in Panama City, FL; print the date and time for the lowest and highest readings using the dataset at `data/CO-OPS__8729108__wl.csv`

In [3]:
!pwd

/blue/bsc4452/mlilyestrom/Jupyter_content

## Opening the file

In [16]:
try:
    fhand = open('/blue/bsc4452/mlilyestrom/Class_Files/data/CO-OPS__8729108__wl.csv')
    print("Data file opened for reading")
except:
    print("Couldn't open file for reading")

Data file opened for reading

## Finding the highest water level (and date & time)

In [1]:
fhand = open('/blue/bsc4452/mlilyestrom/Class_Files/data/CO-OPS__8729108__wl.csv')
count = 0
max_water_level = 0
date_time_max_water_level = 0
fhand.readline()

for line in fhand:
    count = count + 1
    line = line.rstrip()
    #print(line)
    
    columns = line.split(sep=',')
    #print(columns[1])
    date_time = columns[0]
    try:
        water_level = float(columns[1])
    except:
        print(f"No water level data for {date_time}")
        continue
    
    if water_level > max_water_level:
        #print("New max water level found")
        max_water_level = water_level
        date_time_max_water_level = date_time
    
print('Line Count:', count)
print(max_water_level, date_time_max_water_level)

No water level data for 2018-10-10 18:18
Line Count: 725
6.647 2018-10-10 18:06

## Finding the lowest water level (and date & time)

In [16]:
fhand = open('/blue/bsc4452/mlilyestrom/Class_Files/data/CO-OPS__8729108__wl.csv')
count = 0
min_water_level = 100
date_time_min_water_level = 0
fhand.readline()

for line in fhand:
    count = count + 1
    line = line.rstrip()
    #print(line)
    
    columns = line.split(sep=',')
    #print(columns[1])
    date_time = columns[0]
    try:
        water_level = float(columns[1])
    except:
        print(f"No water level data for {date_time}")
        continue
    
    if water_level < min_water_level:
        #print("New min water level found")
        min_water_level = water_level
        date_time_min_water_level = date_time
    
print('Line Count:', count)
print(min_water_level, date_time_min_water_level)

No water level data for 2018-10-10 18:18
Line Count: 725
1.621 2018-10-11 15:36

## Finding the average water level

In [37]:
fhand = open('/blue/bsc4452/mlilyestrom/Class_Files/data/CO-OPS__8729108__wl.csv')
count = 0
water_level = []
fhand.readline()

for line in fhand:
    
    line = line.rstrip()
    columns = line.split(sep=',')
    count = count + 1
    
    try:
        water_level.append(float(columns[1]))
    except:
        print(f"No water level data")
        continue

#print(water_level)
print('Line Count:', count)
print('Sum:', sum(water_level))
print('Average:', sum(water_level)/len(water_level))

No water level data
Line Count: 725
Sum: 2159.2020000000007
Average: 2.9823232044198904